:root {
	--bg: #fff;
	--primaryColor: #008d8a;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
	overflow-y: scroll;
	/* scrollbar-width: thin; */
}

body {
	box-sizing: border-box;
	/* overflow-y: visible; */
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.katex {
	font-size: 110%;
	/* color: var(--primaryColor); */
	color: black;
}
/* .katex-display > .katex,
.katex-inline > .katex {
	color: var(--primaryColor);
} */

.hide {
	display: none !important;
}

input[type='range'],
input[type='checkbox'],
input[type='number'] {
	accent-color: var(--primaryColor);
	background: #c1cdcd;
}

::-webkit-scrollbar-thumb {
	background: #c1cdcd;
	border-color: #e1eded;
	/* border-radius: 10px; */
}
::-webkit-scrollbar-track {
	/* box-shadow: inset 0 0 5px grey; */
	/* border-radius: 10px; */
	background: #e1eded;
}
::-webkit-scrollbar-thumb:hover {
	background: #a1adad;
}
