:root {
	--bg: #fff;
	--primaryColor: #008d8a;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.katex {
	font-size: 105%;
	color: var(--primaryColor);
}

.hide {
	display: none;
}

input[type='range'],
input[type='checkbox'],
input[type='number'] {
	accent-color: var(--primaryColor);
	background: #c1cdcd;
}
